{% extends "base.html" %} {% block start %}

<body>
  <div class="container mt-5">
    <form
      class="col-6 mx-auto card p-3 shadow-lg"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <h2>Login Page</h2>
      <hr>

      {% if messages %}

      <div class="alert alert-primary" role="alert">
        {% for message in messages %} {{message}} {% endfor %}
      </div>

      {% endif %}

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="username" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
          </div>

          <p>Don't have account <a href="/register/">Register</a></p>
          
          <button type="submit" class="btn btn-primary">Submit</button>
    </form>




    
  </div>
</body>

{% endblock %}

<!-- jbb hme backend se frontend me data bhejna hota hai toh context ka use krte hai  -->

<!-- bt hme fontend se backend me data bhejna hota hai toh hme post method ka use krte hai -->

<!-- enctype="multipart/form-data =>   jbb koi form ko frontend se backend me bhejna ho toh -->

<!-- filter me return hoti hai list me more than one ane ki possibility hoti hai -->

<!-- slug url -->
<!-- foreign key me value ni jata hai object jata hai -->
